@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Pt Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: 0 0 15px 0 #00000033;
}

html {
  min-height: 100%;
  background-color: #F2F2F2;
}

img {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

.main-container {
  height: 100%;
  flex-grow: 1;
  margin: 0 auto;
  text-align: center;
}

.main-container-catalog {
  flex-grow: 1;
  margin: 0 auto;
  height: 100%;
}

.button {
  font-family: "Pt Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 0;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.section-subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.page-header {
  color: #000000;
}

.navigation {
  display: flex;
  margin: 0 70px;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  margin-right: 30px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
}

.navigation-link {
  display: inline-block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.navigation-user-link {
  display: inline-block;
  padding: 22px 12px;
  min-width: 44px;
  text-decoration: none;
}

.search {
  background-image: url("../images/search.svg");
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.favourite {
  background-image: url("../images/favourite.svg");
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-button-counter {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  border-radius: 50%;
}

.primary-button-small {
  font-family: "Pt Sans", sans-serif;
  background-color: #756157;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  padding-right: 50px;
  padding-left: 50px;
}

.hero {
  background-color: lightgray;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center center;
  align-content: center;
  padding: 50px 0 82px;
}

.about {
  padding: 69px 0 90px;
}

.about-title {
  max-width: 620px;
  margin: 0 auto;
}

.advantages-list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages-item {
  max-width: 400px;
  min-height: 385px;
  align-content: center;
  padding: 0 85px;
}

.advantages-item-with-image {
  display: flex;
  width: 1200px;
}

.advantages-item-content {
  align-content: center;
  padding: 0 85px;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-description-white {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.recommendations-header {
  padding: 64px 0;
}

.recommendations-title {
  max-width: 505px;
  margin: 0 auto;
}

.recommendations-description {
  font-size: 22px;
  line-height: 26px;
}

.recommendations-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.recommendations-item {
  padding: 81px 85px;
  align-content: center;
  width: 33.33%;
}

.recommendations-item:nth-child(1) .recommendations-item-title::before {
  content: "";
  display: block;
  width: 72px;
  height: 75px;
  margin: 0 auto 30px;
  background-image: url("../images/housing.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.recommendations-item:nth-child(2) .recommendations-item-title::before {
  content: "";
  display: block;
  width: 72px;
  height: 75px;
  margin: 0 auto 30px;
  background-image: url("../images/hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.recommendations-item:nth-child(3) .recommendations-item-title::before {
  content: "";
  display: block;
  width: 72px;
  height: 75px;
  margin: 0 auto 30px;
  background-image: url("../images/gift.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hotel-search {
  padding: 96px 0;
  max-width: 592px;
  margin: 0 auto;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.primary-button-large {
  background-color: #756157;
  color: #ffffff;
  padding: 0 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border: none
}

.subscription-title {
  color: #ffffff;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  max-width: 475px;
  margin: 20px auto 50px;
}

.subscription {
  background-image: url("../images/subscription-background.jpg");
  padding: 96px 0 104px;
  background-color: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.secondary-button {
  background-color: #82B3D3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0 4px 4px 0;
}

.page-footer {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
  align-items: center;
  padding: 40px 0 30px;
}

.footer-social-link {
  display: flex;
  width: 48px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.footer-social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0px;
}

.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-logo-link {
  background-image: url("../images/html-academy-logo.svg");
  display: block;
  width: 115px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-hero {
  background-color: lightgray;
  display: block;
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.catalog-header {
  margin: 0 5px 0 0;
}

.catalog {
  display: flex;
  flex-direction: column;
}

.catalog-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-filter-left-group {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.catalog-filter-right-group {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.catalog-filter-range {
  padding-left: 0;
  list-style: none;
}

.catalog-filter-button-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: end;
}

.filters-section {
  display: flex;
  align-items: center;
  margin: 0 70px;
  padding: 50px 0 40px;
}

.control-control {
  margin-right: 70px;
  margin-left: auto;
}

.sorting-buttons-container {
  display: flex;
  gap: 8px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  padding-left: 0;
  gap: 10px;
  align-items: center;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
}

.catalog-filter-list {
  padding-left: 0;
  list-style: none;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
}

fieldset.catalog-filter-group {
  border: none;
}

.secondary-button-small {
  background-color: #82B3D3;
  color: #ffffff;
  font-family: "Pt Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 20px
}

.ghost-button {
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 0 50px;
}

.control-control {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 20px;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.sorting-button {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting-button-tile {
  background-image: url("../images/tile-view.svg");
  display: block;
  border: 2px solid #000000;
}

.sorting-button-card {
  background-image: url("../images/card-view.svg");
  display: block;
  border: 2px solid #E5E5E5;
}

.sorting-button-list {
  list-style: none;
  background-image: url("../images/list-view.svg");
  display: block;
  border: 2px solid #E5E5E5;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 0 40px;
  margin: 0 70px;
  border-bottom: #E6E6E6 1px solid;
  list-style: none;
}

.product-item {
  width: calc((100% - 40px)/3);
}

.product-card {
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-card-button-container {
  display: flex;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  margin: 16px 0 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.product-card-category {
  margin: 0;
}

.product-card-button {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 26px;
  margin-right: 20px;
}

.product-card-button-favourite {
  background-color: #7DB54F;
  margin: 0;
  padding: 8px 18px;
}

.product-card-rating {
  background-color: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 8px 22px;
  margin: 0;
}

.product-card-image {
  width: 100%;
  height: auto;
}

.hotel-stars {
  display: flex;
  grid-area: 6px;
  padding-left: 0;
  align-items: center;
  list-style: none;
}

.hotel-class {
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 37px;
}

.pagination {
  display: flex;
  padding: 40px 0 60px;
  gap: 8px;
  margin: 0 70px;
  list-style: none;
}

.subscription-background-black {
  margin: 0 auto;
  text-align: center;
  padding: 96px 0 104px;
}

.subscription-title-black {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.subscription-description-black {
  font-size: 22px;
  line-height: 26px;
  max-width: 475px;
  margin: 20px auto 50px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  background-color: #82B3D3;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.more {
  background-color: transparent;
  color: #000000;
}

.vibrant-blue-background {
  background-color: #82B3D3;
}

.blue-background {
  background-color: #83B3D333;
}

.light-blue-background {
  background-color: #83B3D31F;
}
